/* Light Theme */
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.light .navbar-dark {
  background-color: #f8f9fa; /* Light background for navbar */
}

body.light .btn-outline-light {
  border-color: #000000;
  color: #000000;
}

/* Dark Theme */
body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.dark .navbar-dark {
  background-color: #343a40; /* Dark background for navbar */
}

body.dark .btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}
